  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Begin SEO tag v2.8.0 -->
    <title>Viewport Dimensions</title>
    <meta name="generator" content="Express JS 4.18.2" />
    <meta property="og:title" content="Viewport Dimensions" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="A simple web application to collect user's viewport data and display the average for each device type." />
    <meta property="og:description" content="A simple web application to collect user's viewport data and display the average for each device type." />
    <link rel="canonical" href="Site URL" />
    <meta property="og:url" content="Site URL" />
    <meta property="og:site_name" content="Viewport Dimensions" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Home" />
    <script type="application/ld+json">
      {"@context":"https://schema.org","@type":"WebSite","description":""A simple web application to collect user's viewport data and display the average for each device type."","headline":"Viewport Dimensions","name":"Viewport Dimensions","url":"Site URL"}
    </script>
    <!-- End SEO tag -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" href="/public/images/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
  </head>
