<!DOCTYPE html>
<html>
  <%- include('includes/head.ejs'); %>
<body id="home">
  <center>
    <h4 class="label">Your viewport dimensions are</h4>
    <h1 id="dataViewport" class="data hidden"><span id="viewportWidth"></span>x<span id="viewportHeight"></span><sup>px</sup></h1>
    <h5 id="notification">Capturing your viewport dimensions</h5>
    <h4 class="data-secondary"><span class="label">Your resolution is </span><span id="screenWidth"></span>x<span id="screenHeight"></span><sup>px</sup></h4>
    <h6 id="networkResponse"></h6>
    <a href="/statistics">Average Viewport Dimensions</a>
    <h3 id="appDescription">
      This app addresses the lack of viewport statistics available online for designers to come up with more precise calculations for their frame or artboard. More on it <a href="https://medium.com/@mrbacay/a-case-for-viewport-statistics-6a9d4d86f920">here</a>.
    </h3>
    <h6 class="footnote">
      We do not collect any of your personal data—just your viewport dimensions and what kind of device you use.
    </h6>
  </center>
  <script>
    // Capture viewport data
    document.addEventListener('DOMContentLoaded', function() {
      const width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      const height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

      // Make a POST request to capture the viewport data
      fetch('/capture', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `width=${width}&height=${height}`
      })
        .then(response => response.text())
        .then(data => {
          document.getElementById('viewportWidth').innerText = window.innerWidth;
          document.getElementById('viewportHeight').innerText = window.innerHeight;
          document.getElementById('screenWidth').innerText = screen.width;
          document.getElementById('screenHeight').innerText = screen.height;
          document.getElementById('notification').classList.add('hidden');
          document.getElementById('dataViewport').classList.remove('hidden');
          document.getElementById('networkResponse').innerText = data;
        })
        .catch(error => {
          console.error('Error capturing viewport data:', error);
          document.getElementById('networkResponse').innerText = "Failed to capture viewport data. Please, try again.";
        });
    });
  </script>
</body>
</html>
