<!DOCTYPE html>
<html>
  <%- include('includes/head.ejs'); %>
<body id="home">
  <center>
    <h4 class="label">Your viewport dimensions are</h4>
    <h1 id="dataViewport" class="data hidden"><span id="viewportWidth"></span>x<span id="viewportHeight"></span><sup>px</sup></h1>
    <h5 id="notification">Capturing your viewport dimensions</h5>
    <h4 class="data-secondary"><span class="label">Your resolution is </span><span id="screenWidth"></span>x<span id="screenHeight"></span><sup>px</sup></h4>
    <h6 id="networkResponse"></h6>
    <a href="/statistics">Average Viewport Dimensions</a>
    <h3 id="appDescription">
      This app addresses the lack of viewport statistics available online for designers to come up with more precise calculations for their frame or artboard. More on it <a href="https://medium.com/@mrbacay/a-case-for-viewport-statistics-6a9d4d86f920">here</a>.
    </h3>
    <h6 class="footnote">
      We do not collect any of your personal data—just your viewport dimensions and what kind of device you use.
    </h6>
  </center>
  <script src="/public/js/controllers/homeController.js" type="text/javascript"></script>
</body>
</html>
