<!DOCTYPE html>
<html>
  <%- include('includes/head.ejs'); %>
<body id="statistics">
  <center>
    <h1>Suggested Viewport Dimensions</h1>
    <% if (averageViewport) { %>
      <h4 class="label">Estimated Pessimistic Average</h4>
      <h3 class="data">≤ <%= averageViewport.desktop.size %><sup>px</sup></h3>
      <h4 class="data-secondary">Out of <%= averageViewport.desktop.count; %> Users</h4>
      <h4 class="data-secondary">Confidence Level is 99%</h4>
    <% } else { %>
      <p>No viewport data available yet.</p>
    <% } %>
    <a href="/">Your Viewport Dimensions</a>
    <h6 class="footnote">
      We do not collect any of your personal data—just your viewport dimensions and what kind of device you use.
    </h6>
    <h6>Made by <a href="https://mrbacay.com">Samuel Bacay</a>.</h6>
  </center>
</body>
</html>
