body {
  margin: 3em 6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: 'Space Mono', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

a {
  color: #C7292F;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

hr {
  background-color: #000;
  height: 1px;
  border: 0px solid transparent;
}

.hidden {
  display: none;
}

.label {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}

.data {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.data sup,
.data-secondary sup {
  text-transform: uppercase;
  vertical-align: sub;
}

.data-secondary {
  font-size: 1em;
  margin-top: 0;
}

.data-secondary .label {
  text-transform: capitalize;
}

.footnote,
#home #appDescription {
  width: 300px;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

#home .data:first-of-type {
  margin-bottom: 0;
}

#statistics h1 {
  font-size: 1em;
}

#statistics .data-secondary {
  text-transform: capitalize;
}

#statistics .data-secondary:nth-of-type(2) {
  margin-bottom: 0.67em;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3em;
  }

  .footnote,
  #home #appDescription {
    width: 360px;
  }
}

@media (min-width: 1180px) {

  body {
    margin: 2em 36px;
  }

  table {
    border-spacing: 36px;
  }

  td {
    display: table-cell;
  }

  .data {
    font-size: 6em;
  }

}
